@font-face {
    font-family: "Calligrapher";
    src: url("Calligrapher-JRxaE.eot"); /* IE9 */
    src: url("Calligrapher-JRxaE.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Calligrapher-JRxaE.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Calligrapher-JRxaE.woff") format("woff"), /* chrome, firefox */
    url("Calligrapher-JRxaE.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Calligrapher-JRxaE.svg#Calligrapher") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


